body {
  background: url("../imgs/bg-1.png") repeat-x top #ffffff;
}

#header {
     background: #3c3c3c;
}

#footer {
     background: #3c3c3c;
}
                     
#audio-panel {
     background-color: #3c3c3c;
}

#subjectPlayer {
     background-color: #3c3c3c;
}